body {
    background-image: url("pic.jpg");
    background-repeat : no-repeat;
    background-position : center;
    background-size : 130%;
    }
    
    h1 {
    border: 2px dotted blue;
    text-align: center;
    background-color: #f2c5f0;
    font-family: Times New Roman;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    width: 250px;
    margin-bottom: 20px;
    }
    
    p {
        text-align: justify;
        background-color: hsl(202, 61%, 79%);
        padding: 20px ;
        border-top: 3px black dashed;
        border-bottom: 3px black dotted;
        border-left: 3px black initial;
        border-right: 3px black double;
        width: 500px;
    }
    
    span {
    font-weight: bold;
    font-style: italic;
    text-color: rgb(221, 201, 247);
    margin-left: 2px;
    margin-right: 5px;
    }